[Unit]
Description=Custom Node.js ShareX server.

[Service]
Type=simple
WorkingDirectory=/opt/ShareX/server
ExecStart=/usr/bin/pnpm start

[Install]
WantedBy=multi-user.target
